<div class="jumbotron center">
  <h1>
    RailsApp</h1>
  <h2>
    Authorize us to access your Google Drive account
  </h2>
  <div>
    <%= link_to 'AUTHORIZE', {controller: "google_authentication", action: "login"}, class: "btn btn-danger btn-xlarge" %>
  </div>
</div>